.logo-pasteleria {
    content: url(/public/logo.png);
    width: 250px;
    margin-top: 3%;
    margin-bottom: 2%;
    align-self: center;
}

@media only screen and (max-width:980px) {
    .logo-pasteleria {
    width: 50%;
    }
}