.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-pastry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-top: 50px;
    margin-bottom: 50px;
    
}

.about-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
  margin-top: 200px;
  margin-bottom: 50px;
  
 
 
}
.about-cakes {
    display: flex;
    flex-direction: row;
   
   
}

.about-image{
    opacity:0;
    scale: 0.5;
    width: 300px;
    margin: 10px;
}



.about-team-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;

}


.subtitle-background {
    background-color: var(--gris);

}

.about-text-bienvenidos{
    opacity: 1;
}
.about-text{
    opacity: 0;
    margin-top: 50px;
}


.about-pastry-text{
    width: 50%;

    text-align: center;
    
}
.about-text-paragraph{
    margin-bottom: 50px;
}

.container-img-chef {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;

box-shadow:  10px 10px 10px 10px #d9d9d9,
             5px 5px 5px  #ffffff;
   
}
.container-img-chef > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.chef-move{
    opacity: 0;
}
.container-chef-hidden{
    margin: 10px 60px;
}
.name-chef{
    position: relative;
    margin: auto;
    opacity: 0;
}
.chef-icon{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 5px;
    color: var(--rojo);
    opacity: 0;
}
.shadow{
    border-radius: 10px;

}

@media only screen and (max-width:980px) {
.about-cakes{
    flex-direction: column;
}
.about-team-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alfajores{
    margin-top: 150px;
}
}