.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-pastry {
    display: flex;
    flex-direction: row;
    justify-content: center;


    margin-top: 10px;
    margin-bottom: 10px;
    
}

.about-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

}

.about-cakes {
    display: flex;
    flex-direction: column;
    width: 50%;
   
}

.about-image{
    opacity:0;
    scale: 0.5;
    width: 300px;
    margin: 10px;
}



.about-team-img {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.subtitle-background {
    background-color: gray;

}

.about-text-bienvenidos{
    opacity: 1;
}
.about-text{
    opacity: 0;
}


.about-pastry-text{
    width: 50%;
}

.container-img-chef {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 20px;
   
}
.container-img-chef > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.chef-move{
    opacity: 0;
}