.container {
  width: 100vh;
  margin: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  visibility: hidden;
}

a{
  text-decoration: none;
}

.img-container {
  width: 1440px;
  
  position: relative;
  overflow: hidden;
}

.img-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--gris);
  top: 0;
  right: 0;
}

img {
  width: 100vh;
  margin: 0 auto;
}

.main {
  background-color: var(--gris);
}

.home-container {
  display: flex;
  flex-direction: column;
 
}

.home-first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 50%;

}

.home-first-container-wa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.home-first-text {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: white;
  text-align: center;
  margin: 0;
}

.home-container-FirstSection {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
padding: 20px 40px;
  margin-top: 200px;
  padding-bottom: 50px;
}

.slogan{
  padding-top: 180px;
  font-size: 50px;
}

.home-container-SecondSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.home-second-card {
  width: 200px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;

  box-shadow: 10px 10px 10px 10px #d9d9d9,
    5px 5px 5px #ffffff;

}

.home-second-icon {
  width: 60px;
  height: 60px;
  color: var(--rojo);
}

.home-second-card-title {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: var(--gris);

}

.home-second-card-text {
  font-family: 'Heebo', sans-serif;
  color: var(--gris);
}


.text-home-third{
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  font-weight: 900;
margin: 0;
   text-align: center;
   text-justify: center;
   margin-top: 30px;
   margin-bottom: 30px;

}

.home-container-ThirdSection {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fadeInThird{
  width: 100%;
}




/* Fourth section*/
.home-container-fourthSection {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  margin-top: 150px;


}

.img-fourth-home-container {
  opacity: 0;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 20px;
  border-radius: 10px;

  box-shadow: 5px 5px 5px 5px #d9d9d9,
    5px 5px 5px #ffffff;
  margin: 50px;


}

.img-fourth-home-container>.crop {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -50%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.text-fourth-home {
  opacity: 0;
  text-align: center;
  text-justify: center;
  margin: 10px;
  color: var(--rojo);
}

/* Fifth section*/
.home-container-fifthSection {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;


}

.img-fifth-home-container {
  opacity: 0;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 20px;
  border-radius: 10px;

  box-shadow: 5px 5px 5px 5px #d9d9d9,
    5px 5px 5px #ffffff;
  margin: 50px;


}

.img-fifth-home-container>.crop {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.text-fifth-home {
  opacity: 0;
  text-align: center;
  text-justify: center;
  margin: 10px;
  color: var(--rojo);
}

/* Fifth section*/
.home-container-fifthSection {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;


}

.img-fifth-home-container {
  opacity: 0;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 20px;
  border-radius: 10px;

  box-shadow: 5px 5px 5px 5px #d9d9d9,
    5px 5px 5px #ffffff;
  margin: 50px;


}

.img-fifth-home-container>.crop {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.text-fifth-home {
  opacity: 0;
  text-align: center;
  text-justify: center;
  margin: 10px;
  color: var(--rojo);
}

/* sixth section*/
.home-container-sixthSection {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;


}

.img-sixth-home-container {
  opacity: 0;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 20px;
  border-radius: 10px;

  box-shadow: 5px 5px 5px 5px #d9d9d9,
    5px 5px 5px #ffffff;
  margin: 50px;


}

.img-sixth-home-container>.crop {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.text-sixth-home {
  opacity: 0;
  text-align: center;
  text-justify: center;
  margin: 10px;
  color: var(--rojo);
}

/* seventh section*/
.home-container-seventhSection {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;


}

.img-seventh-home-container {
  opacity: 0;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 20px;
  border-radius: 10px;

  box-shadow: 5px 5px 5px 5px #d9d9d9,
    5px 5px 5px #ffffff;
  margin: 50px;


}

.img-seventh-home-container>.crop {
  position: absolute;
  left: -100%;
  right: -50%;
  top: -80%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.text-seventh-home {
  opacity: 0;
  text-align: center;
  text-justify: center;
  margin: 10px;
  color: var(--rojo);
}
.home-container-Third{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionParallax {
  position: relative;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



@media only screen and (max-width:980px) {
  .container {
    width: 70%;
    margin: 10px;
    margin-top: 200px;
    margin-bottom: 100px;
    height: 200px;
  }
  .home-container{
    
    align-items: center;

  }
  
  
  .img-container {
    width: 260px;
    
  }
  .home-container-FirstSection{
    flex-direction: column;
    
  }
 .padding{
   padding-right: 10px;
   padding-left: 10px;
   margin: 0;
   
 }
 .home-first-container-wa{
   margin-bottom: 50px;
  
 }
  .home-container-SecondSection{
    margin-left: auto;
    margin-right: auto;
  }
  .home-container-ThirdSection {
    height: 400px;
  }
  .home-container-fourthSection{
   margin: 70px 0px 0px 0px;
  }
  .img-fourth-home-container{
    margin: 0;
  }
  .home-container-fifthSection{
    margin: 70px 0px 0px 0px;
  }
  .img-fifth-home-container{
    margin: 0;
  }
  .home-container-sixthSection{
    margin: 70px 0px 0px 0px;
  }
  .img-sixth-home-container{
    margin: 0;
  }
  .home-container-seventhSection{
    margin: 70px 0px 0px 0px;
  }
  .img-seventh-home-container{
    margin: 0;
  }
  img {
    width: 260px;
   
  }
 
  .sectionParallax {
    position: relative;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }



  

}
@media only screen and (max-width:980px) {
.text-fourth-home{
  margin: 0;
}
.text-fifth-home{
  margin: 0;
}
.text-sixth-home{
  margin: 0;
}
.text-seventh-home{
  margin: 0;
}
.img-fourth-home-container{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 240px;
  height: 160px;
}
.img-fifth-home-container{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 240px;
  height: 160px;
}
.img-sixth-home-container{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 240px;
  height: 160px;
}
.img-seventh-home-container{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 240px;
  height: 160px;
}
.home-first-container{
  height: 500px;
 
}

}