.contact-text-subtitle{
    text-align: center;
    margin: 20px 0px;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 10px;
}
.contact-text-body{
    font-family:  'Heebo', sans-serif;
    color: var(--negro);
   font-size: 20px;
}
.contact-icon{
    width: 25px;
    height: 25px;
    color: var(--negro);
    margin-right: 5px;
}
.contact-contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    

   
}
.contact{
display: flex;
flex-direction: column;
margin: 30px;
}
.contact-icons-text{
    display: flex;
    flex-direction: row;
}
.contact-text{
    display: flex;
    flex-direction: row;
}
.map{
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 50px;

    border-radius: 32px;

box-shadow:  11px 11px 22px #dbdbdb,
             -11px -11px 22px #ffffff;
}
.map-container{
    margin-top: 200px;
}
.contact-move{
    opacity: 0;
}