.navBar-container{
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 60px;

}

.nav-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 30%;
    text-decoration: none;

}
.logo{
    color: var(--rojo-marca);
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-menu{
    margin: 5px;
}

.nav-links{
    margin: 5px 10px;
    text-decoration: none;
    font-family:  'Heebo', sans-serif;
    color: white;
}
.wa-navbar{
    margin: 10px 0px;
}