.navBar-container{
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 60px;

}

.nav-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    width: 20%;

}

.nav-menu{
    margin: 5px;
}

.nav-links{
    margin: 5px;
    text-decoration: none;
}