.navBar-container{
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 200px;

}

.nav-brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    width: 500px;
    text-decoration: none;

}
.logo{
    color: var(--rojo-marca);
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.logo:hover{
    color: white;
}
.nav-menu{
    margin: 5px;
}


.nav-links{
    margin: 5px 10px;
    text-decoration: none;
    font-family:  'Heebo', sans-serif;
    color: white;
}
.nav-links:hover{
    color: var(--rojo-marca);
}
.wa-navbar{
    margin: 10px 0px;
}
@media only screen and (max-width:980px) {
.navBar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 220px;
    margin: 0;
    position: absolute;

}
.nav-brand{
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.nav-menu{
    margin: 0;
}
.nav-links{
    margin: 5px;
}
}