.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--gris);
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-menu{
    display: flex;
    flex-direction: column;

}

.footer-contact{
    display: flex;
    flex-direction: row;
}

.footer-icon{
    width: 25px;
    height: 25px;
    color: white;
    margin-right: 5px;
}
.footer-icon-socialMedia{
    width: 40px;
    height: 40px;
    color: white;
}

.footer-text{
    font-family:  'Heebo', sans-serif;
    color: white;
    
}
.copyright{
    font-family:  'Heebo', sans-serif;
    color: var(--negro);
    text-align: center;
    border-top: 1px solid black;
    padding-top: 5px;
}