:root{
  --negro: #171717;
  --gris: #444444;
  --rojo: #ce2f56;
  --rojo-marca: #ff7396;
  --gris-claro: #EDEDED;

}

body{
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  color:var(--rojo-marca);
    text-align: center;
    
    font-weight: 900;
    text-decoration: none;

}

h2{
  font-family: 'Nunito', sans-serif;
  font-size: 80px;
  color: white;
    text-align: center;
    height: 150px;
    padding-top: 30px;
    font-weight: 900;
    margin: 0;


}

h3{
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  color: var(--negro);
  font-weight: 900;
margin: 0;
   

}

h4{
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: var(--rojo);
  margin: 0;
 

}

h5{
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  color: var(--rojo-marca);
  font-weight: 100;
  margin: 0;
}
.text-center{
  text-align: center;
}

.paragraph{
  font-family: 'Heebo', sans-serif;
color: var(--gris);
font-size: 1.5em;
}


.button{
  background-color: var(--rojo);
  width: 40px;
  border-radius: 5px;
  margin: 10px 30px

  }
  
  .invisible{
    opacity: 0;
  }
  